<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mikhail\StarWars\Helper\Data">
        <plugin name="mikhail_starwars_helper_data" type="Mikhail\StarWars\Plugin\Helper\DataPlugin"/>
    </type>
    <virtualType name="StarWarsStarship" type="Mikhail\StarWars\Helper\Data">
        <arguments>
            <argument name="entity" xsi:type="string">starships</argument>
        </arguments>
    </virtualType>
    <virtualType name="StarWarsFilm" type="Mikhail\StarWars\Helper\Data">
        <arguments>
            <argument name="entity" xsi:type="string">films</argument>
        </arguments>
    </virtualType>
    <type name="Mikhail\StarWars\Block\Main">
        <arguments>
            <argument name="dataHelper" xsi:type="object">StarWarsFilm</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mikhail_starwars_command_dbase" xsi:type="object">Mikhail\StarWars\Command\dbase</item>
                <item name="mikhail_starwars_command_dbase_film_list" xsi:type="object">Mikhail\StarWars\Command\DbaseFilmList</item>
                <item name="mikhail_starwars_command_dbase_film_create" xsi:type="object">Mikhail\StarWars\Command\DbaseFilmCreate</item>
                <item name="mikhail_starwars_command_dbase_film_delete" xsi:type="object">Mikhail\StarWars\Command\DbaseFilmDelete</item>
            </argument>
        </arguments>
    </type>
</config>
